# Remote Data Source
VITE_DISEASE_DATA_URL=https://raw.githubusercontent.com/NguyenLinhK7/plantclinic/main/json/disease.json
VITE_PRODUCTS_DATA_URL=https://raw.githubusercontent.com/NguyenLinhK7/plantclinic/main/json/products.json
VITE_SLIDER_DATA_URL=https://raw.githubusercontent.com/NguyenLinhK7/plantclinic/main/json/slider.json
